<!-- {{ ShowNotifiactioContent }}

<div class="col-sm-3" [ngClass]="showTable ? 'showData' : 'hideData'">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Age</th>
        <th scope="col">DOB</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let itm of emp">
        <td><input type="number" [(ngModel)]="itm.age" /></td>
        <td><input type="date" [(ngModel)]="itm.dob" /></td>
        <td><input type="text" [(ngModel)]="itm.name" /></td>
        <td><input type="text" [(ngModel)]="itm.address" /></td>
      </tr>
    </tbody>
  </table>
</div>
<button class="btn btn-primary" (click)="Save()">Submit</button>
<router-outlet></router-outlet> -->
<app-parent></app-parent>
